body {
  background-color: #106ab1;
}

#game-grid {
    margin: 0 auto;
    background-color: #106ab1;
    width: 300px;
}

.grid-cell {
    font-size: 2em;
    background-color: #009bcc;
    display: block;
    float: left;
    height: 55px;
    width: 55px;
    margin: 3.5px;
    text-align: center;
    line-height: 55px;
}

.filler-container {
    margin: 0 auto;
    background-color: #009bcc;
    width: 248px;
    height: 310px;
    margin: 0 auto;
}

.target {
    font-weight: bold;
    font-size: 2em;
}
